declare -a test_paths=(./ ./books/templates/)
declare -A test_scripts=(
            [addFile.vader]='bootstrap;books/models.py;bootstrap.lnk;empty_file;bootstrap\ with\ spaces;bootstrap\ with\ spaces.lnk;empty_file\ with\ spaces'
            [addHunk.vader]='bootstrap;books/models.py'
            [ignoreFile.vader]='bootstrap'
            )
