declare -a test_paths=(./ ./books/templates/)
declare -A test_scripts=(
            [addFile.vader]='bootstrap;books/models.py;bootstrap.lnk;empty_file;bootstrap\ with\ spaces;bootstrap\ with\ spaces.lnk;empty_file\ with\ spaces;nanopdf.png;modnano.png'
            [addHunk.vader]='bootstrap;books/models.py'
            [addSelect.vader]='books/models.py'
            [renameFile.vader]='manage.py|manage\ with\ spaces.py;djooks/settings\ with\ spaces.py|djooks/settings_without_spaces.py'
            [ignoreFile.vader]='bootstrap'
            [addDir.vader]='newdir\/'
            [jump.vader]='books\/models.py|29|42|57|books\/isbn_search.py|51|59'
            [commit.vader]='books/models.py|bootstrap'
            [version.vader]='foo'
#[addSubmodule.vader]='subdjooks'
            )
